body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', 'Source Sans Pro', 'Work Sans', Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

input, textarea, button, select, a, div, img {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

section {
    overflow: hidden;
}

/* Utility Classes ----------------------------*/

.noDisplay {
    display: none;
}

.textCenter {
    text-align: center!important;
}

.textJustify {
    text-align: justify!important;
}

.allCenter {
    display: grid;
    place-items: center;
}

.border {
    border: 1px solid var(--theme1-c3);
}

/* -------------------------------------------- */

.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
}

#container1 {
    top: 0;
}

#container2 {
    top: 100vh;
    background-color: var(--theme1-c4);
}

#container3 {
    top: 200vh;
}

.centerDiv {
    grid-area: 4 / 5 / 8 / 8;
    background-image: url("../images/gif/compass_S.gif");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    background-color: var(--genericWhite);
    color: var(--theme1-c1);
    z-index: 2;
}

.headerContent {
    width: 75%;
}

.headerBrand {
    position: relative;
    float: left;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.brandLogo {
    position: relative;
    float: left;
    content: url("../images/logo/compass2.png");
    height: 35px;
    margin-right: 10px;
    cursor: pointer;
}

.headerLogIn {
    position: relative;
    float: right;
    color: var(--theme1-c1);
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    padding-top: 10px;
}

.topBanner {
    position: absolute;
    top: 8vh;
    width: 100vw;
    height: 6vh;
    background-color: var(--theme1-c1);
    color: var(--theme1-c4);
    z-index: 1;
}

.bannerMenuItem {
    position: relative;
    float: right;
    margin-left: 4vw;
    cursor: pointer;
    font-size: 16px;
}

.footer {
    position: absolute;
    top: 300vh;
    height: 92vh;
    width: 100%;
    background-color: var(--theme1-c4);
    color: var(--theme1-c1);
}

.footerContainer {
    width: 75%;
    height: 60%;
}

.footerColumn {
    position: relative;
    float: right;
    width: 17%;
    height: 100%;
    margin-left: 4%;
    margin-right: 4%;
}

.footerRowHead {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

.footerRow {
    width: 100%;
    border-bottom: 1px solid var(--genericWhite);
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.footerRow:hover {
    color: var(--theme1-c2);
}

/* mobile portrait */

@media only screen and (max-width: 567px) {}

/* mobile landscape, tab */

@media only screen and (min-width: 568px) and (max-width: 1024px) {}