body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', 'Source Sans Pro', 'Work Sans', Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

input, textarea, button, select, a, div, img {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

section {
    overflow: hidden;
}

/* Utility Classes ----------------------------*/

.noDisplay {
    display: none!important;
}

.textCenter {
    text-align: center!important;
}

.textJustify {
    text-align: justify!important;
}

.allCenter {
    display: grid;
    place-items: center;
}

.border {
    border: 1px solid var(--theme1-c3);
}

/* -------------------------------------------- */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    /* background-color: var(--genericWhite); */
    color: var(--theme1-c1);
    z-index: 2;
    box-sizing: border-box;
}

.headerContent {
    width: 75%;
}

.headerBrand {
    position: relative;
    float: left;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.brandLogo {
    position: relative;
    float: left;
    content: url("../images/logo/compass2.png");
    height: 35px;
    margin-right: 10px;
    cursor: pointer;
}

.headerLogIn {
    position: relative;
    float: right;
    color: var(--theme1-c1);
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding-top: 10px;
}

.headerMenu {
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: 1;
    width: 95%;
    background-color: var(--theme1-c1);
    color: var(--genericWhite);
    transition: 1s;
}

#mobileHeaderMenu2 {
    height: calc(400vh - 8vh);
}

.headerMenuHead {
    position: relative;
    width: 100%;
    height: 8vh;
    color: var(--genericWhite);
    font-size: 22px;
}

.headerMenuRow {
    position: relative;
    float: left;
    width: 80%;
    margin-left: 10%;
    color: var(--genericWhite);
}

.rowHead {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    border-bottom: 1px solid var(--genericWhite);
    box-sizing: border-box;
}

.headerMenuRowItem {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

.topBanner {
    position: absolute;
    top: 8vh;
    width: 100vw;
    height: 6vh;
    background-color: var(--theme1-c1);
    color: var(--theme1-c4);
    z-index: 1;
}

.bannerMenuItem {
    position: relative;
    float: right;
    margin-left: 4vw;
    cursor: pointer;
}

.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
}

.sectionContent {
    position: absolute;
    height: 70%;
    bottom: 5%;
    left: 10%;
    width: 80%;
}

#container1 {
    top: 0;
}

#container2 {
    top: 100vh;
}

#container3 {
    top: 200vh;
}

#gif1 {
    position: relative;
    float: left;
    content: url("../images/gif/tea_S_1k.gif");
    width: 40%;
}

#sampleContent1 {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    font-size: 20px;
}

#gif2 {
    position: relative;
    float: right;
    content: url("../images/gif/compass_S.gif");
    width: 40%;
}

#sampleContent2 {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    font-size: 20px;
}

#gif3 {
    position: relative;
    float: left;
    content: url("../images/gif/screen_S_1k.gif");
    width: 40%;
}

#sampleContent3 {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    font-size: 20px;
}

.footer {
    position: absolute;
    top: 300vh;
    height: 92vh;
    width: 100%;
    background-color: var(--theme1-c4);
    color: var(--theme1-c1);
}

.footerContainer {
    width: 75%;
    height: 70%;
}

.footerColumn {
    position: relative;
    float: right;
    width: 17%;
    height: 100%;
    margin-left: 4%;
    margin-right: 4%;
}

.footerRowHead {
    width: 100%;
    font-weight: 400;
    padding: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

.footerRow {
    width: 100%;
    border-bottom: 1px solid var(--genericWhite);
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.footerRow:hover {
    color: var(--theme1-c2);
}

.footerCopyright {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
}

/* mobile portrait */

@media only screen and (max-width: 567px) {
    .headerContent {
        display: contents;
    }
    .headerBrand {
        display: none;
    }
    .headerLogIn {
        display: none;
    }
    .bannerMenuItem {
        display: none;
    }
    .topBanner {
        display: contents;
        content: "Inclunav";
    }
    .hamBurger {
        display: grid!important;
    }
}

/* mobile landscape, tab */

@media only screen and (min-width: 568px) and (max-width: 1024px) {}